body {
    background-color: darkslategray;
    font-size: 18px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: yellow;
}

p {
    line-height: 2;
    color: lightcoral;
}

h2 {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: tomato;
}

ul {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    text-align: center;
    float: right;
}