/* Background image */
body {
    background: url("../images/greek-vase.png");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

/* Header Bar */
.header {
    background: #ffffff;   
    border-bottom: 2px solid #cccccc;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.sidebar {
    text-align: left;
    position: fixed;
    top: 22px;
    right: 232.5px;
    z-index: 5;
    margin: 0px auto;
    font-family: 'Arial', 'Helvetuca Neue', Helvetica, sans-serif;
    color: #666666;
    font-size: 16px;
}

#headLtSide #headMid #headRtSide {
    margin: 0px auto;
    text-align: center;
    margin-top: 10px;
}

#headLtSide {
    padding-right: 15px;
}

#headMid {
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    padding: 1px 15px 1px 15px;
}

#headRtSide {
    padding-left: 15px;
}

h2 {
    background: #4aaaa5;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    padding: 15px 12px 0px 12px;
    height: 45px;
    width: 200px;
    position: fixed;
    margin: 0px auto;
    top: 0px;
    left: 232.5px;
    /* float:left; */ */
    z-index: 4;
}

/* Body Section */
.wrapper {
    height: calc(100vh - 71px);
    overflow: auto;
    clear: both;
}

.page {
    width: 956px;
    background: #ffffff;
    border: 2px solid #cccccc;
    margin: 0 auto;
    position: relative;
    top: 100px;
    left: 232.5;
}

.content {
    width: 920px;
    margin: 0 auto;
    line-height: 2;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    position: relative;
    top: 0px;
    left: 0px;
}

h3 {
    color: #4aaaa5;
    border-bottom: 4px solid #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: x-large;
    margin: 0 auto;
}

/* Applicable to index.html */
.about {
    font-family: 'Arial', 'Helvetuca Neue', Helvetica, sans-serif;
    color: #666666;
    font-size: 18px;
}

.photo {
    height: 150px;
    float: left;
    padding: 15px 15px 5px 0px;
}

/* Footer */
footer {
    width: 100%;
    border-top: 8px solid #4aaaa5;
    background: #666666;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding-top: 50px;
    position: sticky;
    bottom: 0px;
    /* min-height: calc(100vh - 889px); */
}

/* Link states */
a:link {
    color: #666666;
    text-decoration: none;
  }
  
a:visited {
    color: #666666;
    text-decoration: none;
  }
  
a:hover {
    color: #666666;
    text-decoration: none;
  }
  
a:active {
    color: #666666;
    text-decoration: none;
  }

  /* Applicable to contact.html */
input {
    width: 100%;
    height: 25px;
  }

form {
    color: #666666;
    font-family: 'Arial', 'Helvetuca Neue', Helvetica, sans-serif;
    padding: 15px 10px 0px 10px;
}

.message {
    min-height: 120px;
}

.submit {
    margin: 10px 0px 30px 0px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 14px;
    width: 100px;
    height: 30px;
}

/* Applicable to portfolio.html */
.portContainer {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
}
.portImg {
    width: 150px;
    position: relative;
    z-index: 1;
    display: inline-block;
}

h6 {
    background: #4aaaa5;
    color: #ffffff;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    text-align: center;
    bottom: 25px;
    font-size: 18px;
}