.navbar {
    background-color: #A2768F !important;
    margin-bottom: 100px;
}
body {
    font-family: 'Comfortaa', cursive;
    width: 100%;
}
#aboutMe {
    background: url("../images/bgImg2.jpg");
    background-size: cover;
    background-repeat: repeat;
    padding-top: 100px;
    padding-bottom: 25px;
    width: 100vw;
    margin: 0 auto;
}
#headerEl {
    width: 90vw;
    margin: 0 auto;
    padding: 5px;
}
#nameHead {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 64px;
}
#aboutImg {
    width: 250px;
    float: left;
    padding: 10px;
    border-radius: 180px;
}
#bio {
    padding-top: 50px;
    text-align: center;
}
#skillSet {
    clear: both;
    margin: 0 auto;
}
.skillList {
    background: #FFD7D4;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;

}
#portfolio {
    padding: 20px;
    background-color: #F3EAEF;
}
#portHeader {
    font-family: 'Amatic SC', cursive; 
    text-align: center;
    font-size: 48px;
}
#portImgEl {
    margin: 0 auto;
    text-align: center;
}
.portImg {
    height: 25vh;
    margin: 0 auto;
    border: 2px solid #B3859A;
    margin: 10px;
    padding: 5px;
}
.portImg:hover {
    height: 30vh;
}
.modalImg {
    width: 100%;
}
.portLink {
    color: #A2768F;
}
.portLink:hover {
    color: rgb(87, 63, 77);
}
#contact {
    background: url("../images/bgImg.jpg");
    background-size: cover;
    background-repeat: repeat;
    margin: 0 auto;
    padding: 15px;
    text-align: center; 
}
#contactHead{
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
}
form {
    padding: 10px;
    font-weight: bold;
    font-size:24px;
    background-color:#B3859A;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 70vw;
}
input{
    width: 40vw;
}
textarea {
    width: 40vw;
}
a, a:hover {
    text-decoration: none;
    color:white;
}
#resumeModal {
    margin: 0 auto !important;
}
.modal-dialog {
    margin: 0 auto !important;
}

#resModContent {
    width: 90vw;
    height: 90vh;
}
iframe, #resModBody {
    width: 100%;
    height: 100%;
}
.contactBtn {
    background-color: #363486;
    border-radius: 10px;
    margin: 0 auto;
    color:white;
    padding: 15px;
    text-align: center;
    width: 115px;
}

