
body {
    background-color: #eeeeee;
    font-family: 'Muli', sans-serif;
}
.header {
    width: 100%;
    padding: 10px 0px;
}
#highscores {
    color:#593093;
    float: left;
    padding-left: 20px;
}
#time {
    color: #593093;
    text-align: right;
    padding-right: 20px;
}
#landingPage {
    text-align: center;
    width: 75%;
    margin: auto;
    display: block;
}
h1 {
    font-weight: 800;
    font-size: 24px;
    margin: 20px 0px 10px 0px;
}
img {
    width: 32%;
    margin: auto;
    padding-top: 10px;
}
#questPage {
    justify-content: center;
    width: 75%;
    margin: auto;
    display: none;
}
#enterInitial {
    justify-content: center;
    width: 75%;
    margin: auto;
    display: none;
}
#scorePage {
    justify-content: center;
    width: 75%;
    margin: auto;
    display: none;
}
button, #submit {
    color: white;
    background-color: #593093;
    margin: 10px 0px;
    padding: 3px 5px;
    border-radius: 15%;
    font-size: 16px;
    width: auto;
    height: auto;
}
h2 {
    margin: 20px 0px 10px 0px;
}
input {
    margin: 10px 10px 10px 0px;
    padding: 5px;
    font-size: 16px;
}
#htmlScores {
    width: 31%;
    background: #F26526;
    color: white;
    float: left;
    margin: 10px 5px;
    padding-top: 10px;
    text-align: center;
}
#cssScores {
    width: 31%;
    background: #23ABE2;
    color: white;
    float: left;
    margin: 10px 5px;
    padding-top: 10px;
    text-align: center;
}
#jsScores {
    width: 31%;
    background: #F7DF1B;
    color: white;
    float: left;
    margin: 10px 5px;
    padding: 10px;
    text-align: center;

}
caption {
    color: black;
}
footer {
    position: fixed !important;
    bottom: 0 !important;
    color: #555555;
    margin: 0 auto;
    width: 100%;
    text-align: center !important;
}